* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(circle at 6% 10%, #002853 0%, #050e1d 78%);

  background: -webkit-radial-gradient(
    circle at 6% 10%,
    #002853 0%,
    #050e1d 78%
  );

  background: -o-radial-gradient(circle at 6% 10%, #002853 0%, #050e1d 78%);

  background: -ms-radial-gradient(circle at 6% 10%, #002853 0%, #050e1d 78%);

  background: radial-gradient(circle at 6% 10%, #002853 0%, #050e1d 78%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 2rem;
  }

  .section__margin {
    margin: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 1rem 2rem;
  }

  .section__margin {
    margin: 1rem 2rem;
  }
}
